/Nova Pasta/DSC.JROficina.Aplicacao/nbproject/private/
/Codigo Fonte/DSC.JROficina.Aplicacao/build/
/Codigo Fonte/DSC.JROficina.Persistencia/nbproject/private/
/Codigo Fonte/DSC.JROficina.Apresentacao/nbproject/private/
/Codigo Fonte/DSC.JROficina.Apresentacao/build/
/Codigo Fonte/DSC.JROficina.Persistencia/build/
/Codigo Fonte/DSC.JROficina.Aplicacao/dist/
/Codigo Fonte/DSC.JROficina.Persistencia/dist/